<p>
    <strong>Plate:</strong>
    <%= @car.plate %>
</p>
<p>
    <strong>Car Type:</strong>
    <% if @car.cartype == 1 %>
        Urban
    <% end %>
    <% if @car.cartype == 2 %>
        Motocross
    <% end %>
    <% if @car.cartype == 3 %>
        Luxury
    <% end %>
</p>
<p>
    <strong>Year:</strong>
    <%= @car.year %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>